@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap');

/* ios reset */
html {
	-webkit-text-size-adjust: 100%;
}

/* global */
body {
	color: #eeeeee;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
	letter-spacing: 0.01rem;
	background-color: #000000;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.6rem;
}

li {
	list-style: none;
}

hr {
	border: none;
	margin: 0.4rem 0 0 0;
}

label {
	white-space: nowrap;
}

thead th {
	font-weight: bold;
	color: #ffd17a;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	white-space: nowrap;
}

input, input:focus {
	border: none;
	outline: none;
	font-family: 'Quicksand', sans-serif;
	padding: 0.3rem !important;
	margin: 0 0.1rem !important;
	border-radius: 0.3rem;
}

input[type="checkbox"] {
	height: 1.5rem;
	vertical-align: middle;
}

input[type=submit] {
	text-align: center !important;
	background: #ffd17a !important;
	border-radius: 0.5rem !important;
	outline: none;
	min-width: 6rem;
	padding: 0.3rem 1rem !important;
	color: #000000;
	text-transform: uppercase;
	font-size: 1.6rem !important;
	font-family: 'Open Sans', sans-serif;
}

.two-digit-input, .four-digit-input {
	width: 4.8rem;
}

.three-digit-input, .five-digit-input, .six-digit-input {
	width: 14.4rem;
}

.max, .max:focus {
	padding: 0.3rem 0.5rem !important;
}

form p {
	text-align: center !important;
	text-transform: uppercase;
	color: #ffd17a;
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
}

.repeat {
	margin-bottom: 2rem;
}

button {
	border: none;
	border-bottom: 0.1rem dashed #aaaaaa;
	background: transparent;
	color: #eeeeee;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
	padding: 0;
	margin: 0 0.5rem;
}

a, a:visited {
	color: #ffd17a;
	text-decoration: none;
}

a:hover {
	color: #eeeeee;
	text-decoration: none;
}

/* ads */
.google_ads {
	display: none !important;
}

/* facebook */
#fb-root {
	display: none !important;
}

/* layout */
#inner-container {
	width: 90%;
	position: unset;
	margin-top: 0;
	padding: 0 3rem;
}

#middle {
	overflow: inherit;
	min-height: calc(100vh - 15rem);
}

#content-area {
	padding-top: 0.5rem !important;
}

#left-column {
	width: 100%;
	float: none;
}

.game-content {
	width: 70%;
	padding: 0;
	margin-left: 15%;
	float: none;
	font-size: 1.3rem;
}

/* account */
#account-container {
	position: unset;
}

#account-header {
	top: 0.1rem;
	right: 5%;
}

#account-header .down-arrow {
	top: 1.5rem;
}

#account-header .account-image {
	display: none;
}

#account-details {
	background: #000000;
	line-height: 2.4rem;
	padding: 1rem 1.5rem;
	right: calc(5% + 1rem);
	top: 3.5rem;
	border: 0.1rem dashed dimgrey;
}

#account-details .account-title {
	padding: 0;
	margin-bottom: 0.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.4rem;
	text-transform: uppercase;
	border-bottom: 0.1rem solid #eeeeee;
}

#account-details .account-summary {
	margin-bottom: 1rem;
}

#account-details .account-signout {
	padding: 0;
	margin-top: 1rem;
}

.account-name {
	margin: 0.5rem 1.5rem;
	text-transform: uppercase;
}

.page-summary {
	text-align: center;
	margin: 2rem auto;
}

.lobby-panel {
	width: 50%;
}

.lobby-panel .form {
	width: 100%;
}

.lobby-panel .selector {
	margin-right: 0.5rem;	
}

.lobby-panel input[type=text] {
	width: 17.2rem;
}

/* top navigation */
#header {
	height: 4rem;
	width: auto;
	font-size: 1.1rem;
	margin-left: 0.5rem;
	padding-top: 3rem;
}

#header-navigation, #header-navigation-2nd-level {
	position: unset;
	width: auto;
	text-transform: uppercase;
}

#header-navigation div, #header-navigation-2nd-level div {
	margin: 0.9rem 0.5rem;
}

#header a, #header a:visited {
	color: #eeeeee;
	text-decoration: none;
}

.navigation {
	padding: 0;
}

#header-logo {
	display: none;
}

/* lobby */
#chooser-nav {
	width: 100%;
}

.chooser-nav-class, #chooser-nav .divider {
	display: none;
}

#chooser-nav {
	margin: 3% 0;
}

#chooser-nav h1 {
	font-size: 3rem;
	margin: 3rem 0 1.5rem 0;
}

.divider {
	height: 0.5rem;
}

/* bot intel */
#toggler {
	background-color: #000000 !important;
	border: 0.1rem solid dimgrey;
	border-radius: 0 !important;
	top: 0.9rem !important;
	left: 5% !important;
	margin-left: 1rem !important;
	text-transform: uppercase;
	padding: 0 0.5rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem !important;
	letter-spacing: 0.2rem;
	line-height: 2rem;
	width: 8.6rem !important;
	z-index: 2 !important;
	white-space: nowrap;
}

#botlinks, #botupdate {
	left: 5% !important;
	top: 1rem !important;
	border-radius: 0 !important;
	margin-left: 10.4rem !important;
	background: #000000;
	border: none;
	outline: 0.1rem dashed #ffd17a;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem !important;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	padding: 0 0.5rem;
	line-height: 2rem;
	z-index: 1 !important;
	color: #ffd17a;
	width: max-content;
}

/* chat */
#ircchat {
	background-color: #222222 !important;
	width: calc(100% - 1rem) !important;
	border-radius: 0.5rem;
	color: #eeeeee!important;
	font-size: 1.3rem;
	padding: 0 !important;
	margin-bottom: 1rem;
}

#showchat {
	height: 11.8rem;

#ircchat table {
	border-collapse: separate !important;
	border-spacing: 0.5rem !important;
}

#irconline {
	padding: 0.8rem 0 0 1rem;
	line-height: 1.5rem;
	width: calc(20% - 1rem) !important;
	font-size: 1.1rem;
}

#irconline hr {
	width: 93%;
	margin-left: 0;
}

#ircchat center {
	padding: 0 0 0.8rem 0;
	margin-top: -1rem;
}

#ircchat input {
	width: 35%;
}

#irccontainer {
	border: none !important;
	padding: 0 0 0 0.5rem;
	width: calc(100% - 0.5rem) !important;
}

#showchat > table {
	border: none !important;
}

/* resource bar */
#resource-bar {
	width: 70%;
	margin-left: 15%;
	margin-bottom: 1.5rem;
}

#resource-bar tbody {
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
}

/* bot commands */
#overlay {
	background-color: #222222 !important;
	width: 70% !important;
	margin-top: 0 !important;
	margin-left: auto !important;
	float: none !important;
	color: #eeeeee !important;
	opacity: 1 !important;
	text-align: center !important;
	line-height: 3.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	padding-top: 0.6rem;
	padding-bottom: 0.3rem;
	letter-spacing: 0.05rem;
}

#overlay p {
	margin-top: 2rem;
}

#overlay input {
	width: 40%;
	margin: 0 0.5rem !important;
}

#overlay table {
	font-size: 1.3rem;
	line-height: 1.3rem;
}

#overlay td {
	font-size: 1rem;
}

/* game header */
.game-header {
	width: 70%;
	float: none;
	background: #222222;
	margin: 1.5rem auto 1rem;
	white-space: nowrap;
}

.game-header h1, .game-header a {
	display: inline-block;
	float: none;
	margin: 0 0.2rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 0.5rem 0;
}

/* game navigation */
#game-navigation {
	width: calc(15% - 2rem);
	margin-right: 0;
	position: sticky;
	top: 4rem;
	font-size: 1.6rem;
	line-height: 1.7rem;
}

#game-navigation .current-date {
	margin-bottom: 2rem;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.7rem;
}

#game-navigation .navigation {
	margin-bottom: 2rem;
	text-align: left;
}

.munkbutton {
	outline: none;
	border-radius: 0.3rem;
	margin: 0 0 0.5rem 0 !important;
}

#game-navigation img {
	height: 1.4rem !important;
	margin: 0 0.2rem;
}

/* throne */
#orders a {
	font-size: 1.2rem;
	margin: 0.2rem;
}

#throne-game-message {
	font-size: 1.4rem;
	outline: 0.1rem dashed dimgrey;
	padding: 1rem;
	overflow: auto;
	margin-top: 2rem;
}

#throne-monarch-message {
	font-size: 1.4rem;
	outline: 0.1rem dashed #ffd17a;
	padding: 1rem;
	overflow: auto;
	margin: 2rem 0;
}

.game-content h2 {
	text-transform: uppercase;
	margin: 0.5rem 0 !important;
	font-size: 1.5rem;
}

.game-content tr:nth-child(even) {
	background-color: #222222;
}

.game-content .advice-message {
	text-align: center;
	margin: 3rem 0;
	font-size: 1.4rem;
}

.game-content .throne-notice, .game-content p {
	margin: 0 1rem 1.5rem;
}

.game-content table.three-column-stats th {
	text-align: center !important;
}

.game-content table {
	margin-bottom: 0 !important;	
}

/* kingdom details */
.unused-slot {
	display: none;
}

.game-content form.change-kingdom.change-kingdom-target #change-kingdom-button {
	margin: 0;
	position: static;
}

input[name=change_kingdom] {
	font-size: 1.4rem !important;
	width: 3.5rem !important;
	height: 2.2rem !important;
	border-radius: 0.3rem !important;
	margin-left: 0.5rem !important;
	padding: 0 !important;
}

.change-kingdom-heading {
	width: 60% !important;
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1.4rem;
}

.change-kingdom-nav {
	width: 100%;
	text-align: center;
}

.change-kingdom-nav a {
	width: 7rem !important;
	font-size: 1.3rem !important;
	margin: 0 2rem;
}

.change-kingdom-form {
	top: 0.3rem !important;
	width: 20%;
}

.game-content table.two-column-stats th, .game-content table.two-column-stats td {
	width: 25%;
	font-size: 1.4rem;
}

.game-content th, .game-content td {
	padding: 0.5rem;
	font-size: 1.3rem;
}

#clone_kingdom td {
	padding: 0.5rem 0;
}

#clone_kingdom th {
	letter-spacing: 0;
	text-transform: none;
}

.order-icon {
	height: 0 !important;
	width: 0 !important;
}

.provinces-legend {
	font-size: 1.2rem;
}

.invitations {
	font-size: 1.1rem;
	position: absolute;
}

.order-icon::before {
	content: "⇅";
	font-weight: normal;
	padding-left: 0.2rem;
}

#bookmark-header {
	width: 2.5rem;
	height: 2.25rem;
	top: -0.5rem;
}

#bookmark-header::before {
	content: "⭐";
	font-size: 2rem;
	position: relative;
}

#bookmark-details {
	background: #000000;
	line-height: 2.4rem;
	padding: 1rem 1.5rem;
	border: 0.1rem dashed dimgrey;
}

#bookmark-details a {
	color: #eeeeee;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: normal;
}

#bookmarks tbody a {
	color: #ffd17a;
}

.dip-status {
	color: #000000;
	font-weight: bold;
	line-height: 1.6rem;
}

.dip-status-NORMAL {
	background-color: #01DF01;
}

.dip-status-UNFRIENDLY {
	background-color: #FFBF00;
}

.dip-status-HOSTILE {
	background-color:#FF4000;
	background-image: url(./images/hostile_meter/hostile_gradient.png);
	background-repeat: repeat-y;
}

.dip-status-WAR {
	background-color: #FF0000;
}

.own-meter-value {
	background-image: url(./images/hostile_meter/up.png);
}

.their-meter-value {
	background-image: url(./images/hostile_meter/down.png);
}

.war-button-meter-value {
	background-image: url(./images/hostile_meter/war.png);
}

#hostility-meter-example {
	background-image: url(./images/hostile_meter/example.png);
}

/* kingdom intel */
#bOriginal, #bGeneral, #bArmies, #bWar, #bTM, #bCalced, #bResources, #bMilitary, #bPopulation, #bSurvey, #bSoS, #bSoM {
	font-size: 1.2rem;
	cursor: pointer;
	margin-right: 0.2rem !important;
}

#newintel {
	max-height: 80vh;
}

#newintel .header th, #newintel td {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

#newintel td font {
	color: #eeeeee !important;
}

#newintel td img {
	display: none;
}

#newintel .header th {
	padding: 0 1rem;
	text-transform: none;
	cursor: pointer;
}

#newintel .header .order-icon {
	display: inline-block;
}

#newintel tr {
	color: #eeeeee !important;	
}

#newintel tr:nth-child(odd) {
	background-color: #000000 !important;	
}

#newintel tr:nth-child(even) {
	background-color: #222222 !important;	
}

/* news */
.news-legend {
	margin-bottom: 1.5rem;
	margin-top: 0;
}

#news {
	margin-top: 1.5rem;
}

.news-legend span {
	font-size: 1rem;
	margin: 0 0.5rem;
}

.news-intra-kingdom-conflict::before {
	content: "🗡️";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-relations::before {
	content: "📜";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-actions-against-our-kingdom::before {
	content: "🛡️";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-dragon::before {
	content: "🔥";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-ritual::before {
	content: "🙏";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-actions-by-our-kingdom::before {
	content: "⚔️";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-aid::before {
	content: "💰";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-obituaries::before {
	content: "☠️";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-province-modification::before {
	content: "♻️";
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

.news-incident-type {
	height: 2rem;
	width: 2rem;
	padding: 0 0 0 0.8rem !important;
	font-size: 1.6rem;
}

.news-incident-date {
	width: 13.6rem;
}

.news-incident-report {
	text-align: left;
}

/* explore */
#btnExplore {
	margin-left: -97% !important;
}

/* growth */
#hideshow {
	margin: 2rem !important;
}

#build_select_container {
	background-size: contain;
	padding: 0;
}

#id_0, #id_1, #id_2, #id_3, #id_4, #id_5, #id_6, #id_7, #id_8, #id_9, #id_10, #id_11, #id_12, #id_13, #id_14, #id_15, #id_16, #id_17 {
	width: 11.11%;
}

/* sciences */
input[name="reassign"], input[name="allocate"] {
	margin-bottom: 5rem !important;
}

/* military */
.data th {
	font-size: 1rem !important;
	font-weight: normal !important;
}

/* wizards */
.game-content ul {
	text-align: center;
	margin: 0 0 2rem 0;
}

/* mystics */
.helptext {
	font-size: 1rem;
	display: block;
}

#spellslist {
	margin-top: 2rem;
}

/* thievery */
form [id='10thief'], form [id='5proc'], form [id='10proc'], form [id='100proc'], #calc { 
	font-size: 1.2rem !important;
	width: 6.5rem !important;
	height: 2.2rem !important;
	padding: 0 !important;
	margin: 0 0 0.3rem 0.5rem !important;
	border-radius: 0.3rem !important;
}

#content-area > div.game-content > form:nth-child(6) > table:nth-child(2) > tbody > tr:nth-child(3) > td > br:nth-child(5) {
	display: none;
}

#content-area > div.game-content > form:nth-child(5) > table:nth-child(2) > tbody > tr:nth-child(3) > td > br:nth-child(5) {
	display: none;
}

#robcalc {
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	font-size: 1rem;
	border-radius: 0.5rem;
	width: 50%;
	margin: 0.5rem auto;
}

#robcalc br {
	display: block;
}

/* war room */
.form br {
	display: block;
}

#autofill_select {
	background-size: contain;
}

#autodef {
	margin-right: 0.4rem !important;
}

#calculator-separator {
	border-top: none !important;
	outline: 0.1rem dashed #ffd17a;
}

#send-armies-form > p:nth-child(4) {
	margin-bottom: 3.2rem;
}

#id_def_info {
	outline: 0.1rem dashed #ffd17a;
	line-height: 3.2rem;
	background-color: #222222;
	margin-bottom: 3.2rem !important;
}

/* aid */
#showaids {
	text-transform: none;
	font-weight: normal;
	margin-bottom: 3rem;
}

#id_land {
	margin-left: -3.2rem !important;
}

/* mail */
strong {
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
}

.reportable, .mail-view {
	width: 100% !important;
}

.formatted-text {
	outline: 0.1rem dashed #ffd17a;
	padding: 1.5rem !important;
}

.warning {
	text-align: center !important;
	margin: 2rem 0 !important;
}

.current.page {
	color: #ffd17a;
	padding: 0 1rem;
}

.pagination {
	margin-bottom: 3rem;
}

form input[type=submit], .button-link {
	margin: 0 2rem 0 -0.2rem;
	font-size: 1.3rem;
	font-weight: bold;
}

/* forum */
.game-content table.mail-view tr td {
	font-size: 1.4rem;
	padding: 1rem;
}

#id_subject {
	width: 99%;
}

#id_body {
	width: 95%;
	outline: none;
}

.mail-view br {
	display: block;
}

.mail-view p {
	margin: 0;
}

/* preferences */
.preference-box h3 {
	margin: 0 1rem !important;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.preference-box {
	outline: 0.1rem dashed dimgrey;
	padding: 1rem 0 !important;
	margin: 1.5rem 0 !important;
}

.preference-box .advice-message {
	margin: 1rem 0 !important;
}

/* province profile */
.flagpole {
	display: none;
}

.province-flag .flag-image {
	margin: 0 0 0 -0.6rem;
}

.motto {
	word-wrap: break-word;
}

#content-area > div.game-content > div > div.reportable {
	display: grid;
	justify-content: center;
	align-items: center;
	right: -1rem;
}

/* recruitment */
.campaign-meter-level div, .fails-criteria div {
	border: 0.1rem solid dimgrey;
}

.campaign-meter-level div.full {
	background-color: #a1e882;
}

.campaign-meter-level div.unknown {
	color: #a1e882;
}

.fails-criteria div.full {
	background-color: #eb5252;
}

.recruitment-header .rank-bar, .campaigns .rank-bar {
	background-color: #a1e882;
}

.recruitment-header .selected-rank, .campaigns .selected-rank {
	background-color: #7cfc00;
}

/* miscellaneous */
#loadstatus {
	outline: 0.1rem dashed;
	width: 70%;
	margin: 1rem auto;
	text-transform: uppercase;
	padding: 0 0 2.2rem 0;
	color: #ffd17a;
}

.message {
	outline: 0.1rem dashed;
	padding: 2em;
}

#right-column {
	width: 15%;
	margin-top: -62rem;
}

.advice-message {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4rem;
	font-weight: normal;
}

.good, .protected, .advice-message, .intel-fresh {
	color: #a1e882;
}

.bad, .monarch, .negative, .warning, .intel-rotten, .at-war {
	color: #f56767;
}

/*.duration_operation {
	color: #f9e36b;
}*/

.you {
	font-weight: bold;
}

.chamberlain, .intel-stale {
	color: #f6b53f;
}

#aidnum {
	color: #f56767;
	letter-spacing: 0.1rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
}

#footer {
	width: auto;
	font-size: 1.1rem;
}
