
/*
FOLLOW THIS FORMAT:

.my-first-selector,
.my-second-selector {
    - positioning and size
    - border styling
    - internal styling - padding etc.
    - typography
    - colors
    - display, opacity and special effects
}
*/




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap');

body {
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    background-color: #111111;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
}

input[type="checkbox"] {
	vertical-align: middle;
}

#header-logo {
    display: none;
}

.navigation {
    /* typography */
    text-align: left;
}

.navigation_underline {
}

.navigation a {
    /*text-decoration: none;*/
    color: #ffd17a;
}

.navigation a:hover {
    /* colors */
    color: #eeeeee;
    text-decoration: none;
}

.chooser-nav-class {
}

.chooser-nav-class a {
}

.chooser-nav-class a:hover {
}

#header-navigation div {
}

#header-navigation div:hover a {
    /* colors */
    color: #eeeeee;
    text-decoration: none;
}

#header-navigation div:hover {
}

#header-navigation-2nd-level div:hover a {
    /* colors */
    color: #eeeeee;
    text-decoration: none;
}

#header-navigation-2nd-level div:hover {
}

#header-navigation-3rd-level div:hover a {
}

#header-navigation-3rd-level div:hover {
}

#chooser-nav div:hover a {
}

#chooser-nav div:hover {
}

#account-container {
}

#account-header .account-image {
    display: none;
}

#account-header {
}

#account-header:hover {
}

#account-header.selected {
}

#account-details {
    background: #111111;
	border: 1px dashed dimgrey;
}

#account-details .account-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: ;
	text-transform: uppercase;
	border-bottom: 1px solid #eeeeee;
}

#account-details .alert a {
}

#account-details a:hover {
}

#account-details .account-summary {
}

#account-details .account-signout {
}

/* Ads */
.google_ads {
    display: none !important;
}

/* Facebook */
#fb-root {
	display: none !important;
}

#middle {
}

a {
    color: #ffd17a;
    text-decoration: none;
}

a.highlighted {
}

a:focus, a:hover {
    color: #eeeeee;
}

#footer {
    color: #dimgrey;
    font-size: 1rem;
}

.report-this {
}

.report-this:hover {
}

.reported-content {
}

.overlay {
}

.overlay .close {
}

.age-changes, .lobby-panel, .campaigns {
}

.lobby-panel h1 {
}

.lobby-panel h1 a {
}

.lobby-panel h1 a:hover {
}

.divider {
}

.divider-small {
}

.lobby-panel table th {
}

.lobby-panel table td {
}

.lobby-panel h2 {
}

.age-changes h3, .campaigns h3 {
}

.recruitment-campaigns h1, .race-changes h1, .trait-changes h1 {
}

.race-changes h2, .trait-changes h2 {
}

.campaigns .basic-details .campaign-summary h2 {
}

.campaigns .basic-details .campaign-summary .highlight-keyword {
}

.good {
    color: #90ee90;
}
.bad {
    color: #eb5252
}

.duration_operation{
    color: #eedc82;
}

.message {
    /* positioning and size */
    border: 1px dashed;
}

.good.message {
    color: #90ee90;
}

.bad.message {
    color: #eb5252;
}

.info.message {
}

/* User profile page */
.lobby-panel .statement {
}

.lobby-panel .statement h2 {
}

.advice-message {
    color: #90ee90
}

.warning {
    color: #eb5252;
}

.error {
    color: #eb5252;
}

#game-navigation .current-date {
    margin-bottom: 20px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#game-navigation a {
}

#game-navigation a:hover {
}

#resource-bar {
}

#resource-bar thead {
}

#resource-bar thead th {
}

#resource-bar tbody th, #resource-bar tbody td {
    padding: ;
    font-size: ;
    font-weight: ;
    font-family: ;
    text-align: ;
    color: ;
}

#resource-bar tbody th {
}

#resource-bar tbody td {
}

#resource-bar thead th {
}

#resource-bar .positive {
    color: #90ee90;
}

#resource-bar .negative {
    color: #eb5252;
}

.game-content form, .game-content h2 {
}

.game-content h2 {
    background-color: #002040;
}

.game-content h3 {
}

.game-content form {
    font-size: 12px;
    font-weight: bolder;
}

form ul.errorlist {
    color: #eb5252;
}

.game-content form.change-kingdom {
    background-color: #400000;
}

.game-content form.change-kingdom .change-kingdom-heading {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
}

.game-content form.change-kingdom .change-kingdom-nav a {
    width: 80px;
}

.game-content form.change-kingdom #royal-commands {
    border-top: 1px dashed dimgrey;
}

.game-content form.change-kingdom #royal-commands table tbody td {
    font-weight: normal;
}

.game-content form.change-kingdom .change-kingdom-form {
    width: 210px;
    font-size: 20px;
}

.game-content form.change-kingdom.change-kingdom-target {
    border-top: 2px solid;
    border-color: #90ee90;
}

form textarea,
form input[type=text],
form input[type=number],
form input[type=password] {
    border-width: 1px;
    border-color: #d7d7d7;
    padding-left: 3px;
    font-size: 12px;
    text-align: left;

    color: #000;
    background: #fff;
}

form input[type=text],
form input[type=number],
form input[type=password] {
    height: 16px;
    font-size: 12px;
}

form .errorlist {
    font-size: 12px;
}

form input[type=submit],
.button-link { 
    /* positioning and size */
    border: 1px solid;
    padding: 3px 3px 3px 3px;

    /* border styling */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    /* internal styling - padding etc. */
    /* typography */
    font-size: 16px;
    font-weight: normal;

    /* colors */
    background-color: #D8D8D8;

    color: #000;
}

form input[type=submit]:hover,
.button-link:hover {
    /* colors */
    background-color: #F2F2F2;
    text-decoration: none;
}

form input[type=submit]:active,
.button-link:active {
    /* colors */
    background-color: #F2F2F2;
}

div.selector span,
div.uploader span.filename,
div.uploader span.action
{
    padding-left: 5px;
    /* typography */
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
div.uploader span.filename,
div.uploader span.action
{
    font-size: 12px;
}

div.uploader span.action {
    background: transparent;
    color: #000;
}

.game-content form table {
    margin-bottom: 10px;

    text-align: left;
}

.game-content form table thead th {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}

.game-content form tbody th {
}

.game-content form tbody th:first-child {
    border-left: none;
}

.game-content form tbody td {
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
}

.game-content form tbody tr {
    border: none;
}
.game-content form tbody tr:nth-child(even) {
    /* display, opacity and special effects*/
    background: rgb(48, 48, 48);
    background: rgba(48, 48, 48, 0.6);
}

/* KINGDOM NEWS */
.news-intra-kingdom-conflict::before {
	content: "🗡️";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-relations::before {
	content: "📜";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-actions-against-our-kingdom::before {
	content: "🛡️";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-dragon::before {
	content: "🔥";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-ritual::before {
	content: "🙏";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-actions-by-our-kingdom::before {
	content: "⚔️";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-aid::before {
	content: "💰";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-obituaries::before {
	content: "☠️";
	font-size: 1.6rem;
	padding: 0 5px;
}

.news-province-modification::before {
	content: "⚒️";
	font-size: 1.6rem;
	padding: 0 5px;
}

/* KINGDOM DETAILS */
.unused-slot {
    display: none; 
}

.protected, .intel-fresh {
    color: #90ee90;
}

.monarch, .at-war, .intel-rotten {
    color: #eb5252;
}

.chamberlain, .intel-stale {
    color: #ffd17a;
}

.you {
    font-weight: bold;
}

.slot-number {
    font-size: 1.2rem;
    color: #eeeeee;
}

.provinces-legend {
    font-size: 1.2rem;
}

.provinces-legend .invitations {
    font-size: 1.2rem;
}

.dip-status {
    color: #000000;
    font-weight: bold;
    line-height: 1.6rem;
}

.dip-status-NORMAL {
    background-color: #01DF01;
}

.dip-status-UNFRIENDLY {
    background-color: #FFBF00;
}

.dip-status-HOSTILE {
    background-color:#FF4000;
    background-image: url(./images/hostile_meter/hostile_gradient.png);
    background-repeat: repeat-y;
}

.dip-status-WAR {
    background-color: #FF0000;
}

.own-meter-value {
    background-image: url(./images/hostile_meter/up.png);
}

.their-meter-value {
    background-image: url(./images/hostile_meter/down.png);
}

.war-button-meter-value {
    background-image: url(./images/hostile_meter/war.png);
}

#hostility-meter-example {
    background-image: url(./images/hostile_meter/example.png);
}

#id_taunt_top_image {
    color: white;
}

/* Province profile page */

.province-flag .flagpole {
    background: url('./images/province_profile/flagpole.png') no-repeat;
}

.province-flag .flag-image .default-flag{
    background: url('./images/province_profile/default_flag.png') no-repeat;
}

.motto {
    background: url('./images/province_profile/scroll.png') no-repeat;
}

.game-header {
    background: #222222;
    margin: 1.2rem 0;
}

.game-header h1, .game-header a {
    display: inline-block;
    float: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0.4rem;
}

.game-header a:hover {
}

.game-header a h1:hover {
}

.game-content {
    padding: 0;
}

.game-content th, .game-content td {
	padding: 5px;
}

.game-content h2 {
}

.game-content thead th {
    font-weight: normal;
    font-size: 1.2rem;
    color : #eeeeee;
    background-color: #002040;
}

.game-content tbody th {
    color:
}

.game-content tbody th:first-child {
}

.game-content tbody td {
    padding-right:;
}

.game-content tbody td.forum-moderator-buttons {
    padding-right: 10px;
}

.game-content tbody tr {
}

.game-content tbody tr:nth-child(even) {
    background: #222222;
}

.game-content tbody tr.sub-total {
}

.game-content tr.sub-total td {
}

.game-content table.schedule {
}

.two-digit-input {
    width: 1.6rem;
}

.three-digit-input {
    width: 3.2rem;
}

.four-digit-input {
    width: 4.8rem;
}

.five-digit-input {
    width: 6.4rem;
}

.six-digit-input {
    width: 8rem;
}

/* GAME PREFERENCES */
.game-content div.preference-box {
    outline: 1px dashed dimgrey;
    margin-bottom: 1.2rem;
    padding: 1.2rem 0 1.2rem 0;
}

.game-content div.preference-box.disabled {
}

div.wysiwyg {
    border: 0.1rem solid dimgrey;
    padding: 0.8rem;
    background: #111111
}

div.wysiwyg ul.toolbar li {
    background: url('./images/jquery.wysiwyg.gif') no-repeat -64px -80px;
    border: 0.1rem outset dimgrey;
}

body.wysiwyg {
}

#bookmark-header {
    background-image: url(./images/silver_star.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#bookmark-header::before {
    content: "⭐";
}

#bookmark-header:hover, #bookmark-header.selected {
    background-image: url(./images/gold_star.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#bookmark-details {
    font-size: 1.2rem;
    background-color: #111111;
}

#bookmark-details a {
    text-decoration: none;
}

#bookmark-details #bookmarks {
}

#royal-command-icon {
}

#royal-command-icon:hover {
}

.tablesorter th .order-icon {
    background-image: url(./images/order_none.png);
}

.tablesorter th.headerSortUp .order-icon {
    background-image: url(./images/order_asc.png);
}

.tablesorter th.headerSortDown .order-icon {
    background-image: url(./images/order_desc.png);
}

.campaign-meter-level div {
    border: 0.1rem solid dimgrey;
}

.campaign-meter-level div.full {
    background-color: #90ee90;
}

.campaign-meter-level div.unknown {
    color: #90ee90;
}

.fails-criteria div {
    border: 0.1rem solid #eb5252;
}

.fails-criteria div.full {
    background-color: #eb5252;
}

.two-column ul {
}

.two-column li {
}

.recruitment-header h2 {
}

.recruitment-header .rank-bar,
.campaigns .rank-bar {
    background-color: #90ee90;
}

.recruitment-header .selected-rank,
.campaigns .selected-rank {
    background-color: #90ee90;
}

.campaigns .campaign-message-intro {
}
