@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap');

/* Global */
body {
	background: #111111;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
	color: #eeeeee;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

li {
	list-style-type: none;
}

td br {
	display: none;
}

label {
	white-space: nowrap;
}

thead th {
	font-weight: bold;
	color: #ffd17a;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	white-space: nowrap;
}

.selector {
	padding-left: 0 !important;
	width: 179px !important;
	font-size: 1.2rem !important;
	border-radius: 5px !important;
	text-indent: 10px !important;
}

input {
	border: none;
	outline: none;
	font-family: 'Quicksand', sans-serif;
	padding: 3px !important;
	margin: 0 1px !important;
	border-radius: 3px;
}

input[type="checkbox"] {
	height: 15px;
	vertical-align: middle;
}

input:focus {
	border: none;
	padding: 0 3px !important;
	height: 22px;
}

.two-digit-input, .four-digit-input {
	width: 45px;
}

.three-digit-input {
	width: 173px;
}

.max {
	padding: 3px 5px;
}

form p {
	text-align: center !important;
	text-transform: uppercase;
	color: #ffd17a;
	font-size: 0.8em;
	letter-spacing: 0.5px;
}

input[type=submit] {
	text-align: center !important;
	background: #ffd17a;
	border-radius: 5px;
	outline: none;
	text-transform: uppercase;
	width: 100%;
	height: 40px;
	font-size: 2.5rem !important;
	font-family: 'Open Sans', sans-serif;
}

.repeat {
	margin-bottom: 20px;
}

button {
	border: none;
	border-bottom: 1px dashed gray;
	background: transparent;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
	padding: 0;
	margin: 0 5px;
}

a, a:visited {
	color: #ffd17a;
	text-decoration: none;
}

/* Layout */
#inner-container {
	width: 83.33%;
	position: unset;
	margin-top: 0;
}

#middle {
	overflow: inherit;
	min-height: calc(100vh - 150px);
}

#left-column {
	width: 100%;
	float: none;
}

#content-area {
	padding-top: 5px !important;
}

/* Game Navigation */
#game-navigation {
	width: calc(15% - 20px);
	margin-right: 0;
	position: -webkit-sticky;
	position: sticky;
	top: 40px;
	font-size: 1.6rem;
	line-height: 1.7rem;
}

#game-navigation .current-date {
	margin-bottom: 20px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

#game-navigation .navigation {
	margin-bottom: 20px;
	text-align: left;
}

.munkbutton {
	outline: none;
	border-radius: 3px;
	margin: 0 0 5px 0 !important;
}

#game-navigation img {
	height: 14px !important;
	margin: 0 2px;
}

/* Resource Bar */
#resource-bar {
	width: 70%;
	margin-left: 15%;
	/* margin-top: -780px; */
	margin-bottom: 15px;
}

#resource-bar tbody {
	font-size: 0.8em;
	letter-spacing: 1px;
}

/* Bot Overlay */
#overlay {
	width: 70% !important;
	margin-top: 0 !important;
	margin-left: auto !important;
	float: none !important;
	color: #111111 !important;
	text-align: center !important;
	line-height: 35px;
	border-radius: 5px;
	font-size: 1rem;
	padding-top: 6px;
	padding-bottom: 3px;
	letter-spacing: 0.5px;
}

#overlay p {
	margin-top: 20px;
}

#overlay input {
	width: 40%;
	margin: 0 5px;
	border: 1px dashed gray;
}

#overlay table {
	font-size: 1.3rem;
	line-height: 1.3rem;
}

#overlay td {
	font-size: 1rem;
}

/* Game Header */
.game-header {
	width: 70%;
	float: none;
	background: #222222;
	margin: 15px auto 10px;
	white-space: nowrap;
}

.game-header h1, .game-header a {
	display: inline-block;
	float: none;
	margin: 0 2px;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 5px 0;
}

/* Game Content */
.game-content {
	width: 66.66%;
	padding: 0;
	margin-left: 16.66%;
	float: none;
	font-size: 1.4rem;
}

.game-content tr:nth-child(even) {
	background-color: #222222;
}

/* Recruitment Chat */
#recruitment-chat {
	display: none !important;
}

/* Bot Intel */
#toggler {
	background-color: #111111 !important;
	border: 1px solid gray;
	border-radius: 0 !important;
	top: 9px !important;
	left: 5% !important;
	margin-left: 10px !important;
	text-transform: uppercase;
	padding: 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em !important;
	letter-spacing: 2px;
	line-height: 2em;
	width: 83px !important;
	z-index: 2 !important;
	/*
	position: -webkit-sticky !important;
	position: sticky !important;
	margin-top: -1000% !important;
	margin-bottom: -1000%;
	*/
}

#botlinks, #botupdate {
	left: 5% !important;
	top: 10px !important;
	border-radius: 0 !important;
	margin-left: 104px !important;
	background: #111111;
	border: none;
	outline: 1px dashed #ffd17a;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0 5px;
	line-height: 2em;
	z-index: 1 !important;
	color: #ffd17a;
	width: auto;
	max-width: 8.33%;
	white-space: nowrap;
	overflow: hidden;
	/*
	position: -webkit-sticky !important;
	position: sticky !important;
	margin-bottom: -1000%;
	*/
}
