@import url("default-theme.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap');

.google_ads, #game-navigation, #resource-bar, #orders, .game-header, .game-content { outline: 1px dashed; }

/* Test */
body {
	background: #111111;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.1px;
	color: #eeeeee;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
}

thead th {
	font-weight: bold;
	color: #ffd17a;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
}

input {
	border: none;
	outline: 1px solid gray;
	font-family: 'Quicksand', sans-serif;
	padding: 0 3px;
	height: 30px;
}

input:focus {
	outline: 1px solid gray;
	padding-left: 5px;
	border: none;
	height: 30px;
}

button {
	border: none;
	border-bottom: 1px dashed gray;
	background: transparent;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
	padding: 0;
	margin: 0 5px;
}

a, a:visited {
	color: #ffd17a;
	text-decoration: none;
}

#header a, #header a:visited {
	color: #eeeeee;
	text-decoration: none;
}

.navigation {
	padding: 0;
}

#inner-container {
	width: 90%;
	position: unset;
	margin-top: 0;
	padding: 0 30px;
}

#header {
	height: 40px;
	width: auto;
	font-size: 0.7em;
	margin-left: 5px;
	padding-top: 30px;
}

#middle {
	overflow: inherit;
	min-height: calc(100vh - 150px);
}

#header-navigation, #header-navigation-2nd-level {
	position: unset;
	width: auto;
	text-transform: uppercase;
}

#header-navigation div, #header-navigation-2nd-level div {
	margin: 9px 5px;
}

#account-container {
	position: unset;
}

#account-header {
	top: 1px;
	right: 5%;
}

#account-header .down-arrow {
	top: 15px;
}

#account-details {
	background: #111111;
	line-height: 2em;
	padding: 10px 15px;
	right: calc(5% + 10px);
	top: 35px;
	border: 1px solid gray;
}

#account-details .account-title {
	padding: 0;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	border-bottom: 1px solid #eeeeee;
}

#account-details .account-summary {
	margin-bottom: 10px;
}

#account-details .account-signout {
	padding: 0;
	margin-top: 10px;
}

.account-name {
	margin: 5px 15px;
	text-transform: uppercase;
}

#toggler {
	background-color: transparent !important;
	width: auto !important;
	border: 1px solid gray;
	border-radius: 0 !important;
	top: 9px !important;
	left: calc(5% + 10px) !important;
	margin-left: 0 !important;
	text-transform: uppercase;
	padding: 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em !important;
	letter-spacing: 2px;
	line-height: 2em;
}

#botlinks, #botupdate {
	left: calc(5% + 105px) !important;
	margin-top: 0px !important;
	top: 10px !important;
	z-index: -1 !important;
	border-radius: 0 !important;
	margin-left: 0 !important;
	background: #111111;
	border: none;
	outline: 1px dashed #a1e882;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0 5px;
	line-height: 2em;
}

#left-column {
	width: 100%;
	float: none;
}

#ircchat {
	width: calc(100% - 10px) !important;
	border-radius: 5px;
	background-color: #eeeeee !important;
	color: #111111 !important;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	padding: 0 !important;
	margin-bottom: 10px;
}

#ircchat table {
	border-collapse: separate !important;
	border-spacing: 10px !important;
}

#irconline {
	padding: 8px 0 0 10px;
	line-height: 1.5em;
	width: calc(20% - 10px) !important;
	font-size: 0.9em;
}

#irconline hr {
	width: 93%;
	margin-left: 0;
}

#ircchat center {
	padding: 0 0 5px;
	margin-top: -13px;
}

#ircchat input {
	width: 35%;
}

#irccontainer {
	border: none !important;
	padding: 0 0 0 5px;
	width: calc(100% - 5px) !important;
}

.google_ads {
	margin: 10px auto 0px;
	margin-left: auto !important;
	height: auto !important;
	padding-top: 0 !important;
}

.chooser-nav-class {
	width: 300px !important;
	padding: 10px 0 0 !important;
	font-size: 0.7em;
}

.divider {
	height: 5px;
}

#game-navigation {
	width: calc(15% - 20px);
	margin-right: 0;
	padding-left: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	float: none;
	height: 755px;
}

#game-navigation .current-date {
	margin-bottom: 20px;
	text-align: left;
}

#game-navigation .navigation {
	margin-bottom: 20px;
	text-align: left;
}

#resource-bar {
	width: 70%;
	margin-left: 15%;
	margin-top: -755px;
}

#resource-bar tbody {
	font-size: 0.8em;
	letter-spacing: 1px;
}

#overlay {
	width: 70% !important;
	margin-left: auto !important;
	float: none !important;
	color: #111111 !important;
	text-align: center !important;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	margin-top: 10px !important;
	margin-bottom: 10px;
}

#overlay input {
	width: 60%;
	margin: 0 5px;
}

.game-header {
	width: 70%;
	font-size: 0.8em;
	float: none;
	margin: 0 auto;
	height: 30px;
}

.game-header h1, .game-header a {
	display: inline-block;
	float: none;
	margin: 0 10px;
	font-size: 1.1em;
}

#orders a {
	font-size: 0.8em;
	margin: 0 10px;
}

#throne-game-message, #throne-monarch-message {
	margin: 50px 0;
}

.game-content {
	width: 70%;
	padding: 0;
	margin-left: 15%;
	float: none;
}

#right-column {
	width: 15%;
	margin-top: -620px;
}

.good, .advice-message {
	color: #a1e882;
}

.bad, #aidnum {
	color: #f56767;
	letter-spacing: 2px;
	font-size: 0.9em;
	font-weight: bold;
}

#footer {
	width: auto;
	font-size: 0.7em;
}
