@import url("default-theme.css");

/* Test */
body {
	background: #111111;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #eeeeee;
}

a, a:visited {
	color: dodgerblue;
	text-decoration: none;
}

#header-navigation {
	position: static;
	width: auto;
}

#header-navigation div {
	margin: 0 15px 0;
}

.navigation {
	padding: 0;
}
