@import url("default-theme.css");

/* Test */
body {
	background: #111111;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #eeeeee;
}

a, a:visited {
	color: dodgerblue;
	text-decoration: none;
}

#header-navigation, #header-navigation-2nd-level {
	position: static;
	width: auto;
}

#header-navigation div, #header-navigation-2nd-level div {
	margin: 0 10px 0;
}

.navigation {
	padding: 0;
	font-size: 0.7em;
}

#account-container {
	position: static;
	font-size: 0.7em;
}

#account-details {
	background: #111111;
	font-size: 1em;
	line-height: 3em;
}
